:root {
    --background: #1d2021;
    --background_alt: #282828;
    --foreground: #fbf1c7;
    --foreground_alt: #928374;
    --accent: #8ec07c;
}

* {
    font-family: 'Fira Code', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--foreground);
}

h1 {
    margin-left: 10%;
}

.blinking {
    animation: blink 2s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

body {
    background-color: var(--background);
}

#termbkg {
    margin: auto;
    width: 80%;
    padding: 5px 20px 5px 20px;
    background-color: var(--background_alt);
}

p {
    width: auto;
    transition: .2s;
    font-size: 18px;
}

strong {
    color: var(--accent);
}

a {
    all: unset;
}

input {
    all: unset;
    width: 73%;
}